<div class="row">
    <div class="col-sm-offset-4 col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 style="display: inline">修改密码</h4>
            </div>
            <div class="panel-body">
                <%= form_for current_user, url: { action: "update_password" },html: {role: 'form'} do |f| %>
                <%= render 'shared/error_messages', :object => current_user %>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <div style="width: 75px">
                                <span class="glyphicon glyphicon-lock" style="float:left" />
                                <span style="float: right; margin-left: 5px">旧密码</span>
                            </div>
                        </div>
                        <%= f.password_field :old_password, class: 'form-control', placeholder: "输入旧密码" %>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <div style="width: 75px">
                                <span class="glyphicon glyphicon-lock" style="float:left" />
                                <span style="float: right; margin-left: 5px">新密码</span>
                            </div>
                        </div>
                        <%= f.password_field :password, class: 'form-control', placeholder: "输入新密码" %>
                    </div>
                </div>

                <div>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <div style="width: 75px">
                                <span class="glyphicon glyphicon-lock" style="float:left" />
                                <span style="float: right; margin-left: 5px">确认密码</span>
                            </div>
                        </div>
                        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "再次输入密码" %>
                    </div>
                </div>

                <br>

                <%= f.submit '修改', class: "btn btn-info btn-block" %>
                <%= link_to '取消', root_path, :class => "btn btn-default btn-block" %>

                <br>

                <% end %>
            </div>
        </div>
    </div>
</div>
